#about {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

#about .row {
    display: flex;
}


#introduction {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#introduction .image-container {
    position: absolute;
    height: 200%;
    width: 180%;
    right: -80%;
    transition: right 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#introduction .image-container .bg-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left center;
}

#introduction .content {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 2;
    text-align: center;
    max-width: 30%;
    margin-left: 90px;

}

#introduction.expanded .image-container {
    right: -50%;
}

#introduction.expanded .content {
    visibility: visible;
    opacity: 1;
}




.content {
    font-family: "Lexend SemiBold";
    color: black;
    font-weight: bolder;
}


#pics{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}





.arrow {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
    cursor: pointer;

    opacity: 50%;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;

}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}
.paper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 350px 850px 0 0;
    border-style: solid;
    border-color: #fff #9c816c;

}

#rolunk{
    font-family: "Lexend Thin";
    color: white;
}







@media screen and (max-width: 600px) {

    .pic {
        display: block;
        margin-bottom: 20px;
    }

    .pic .main-image {
        width: 100%;
        height: auto;
    }

    .pic .extra-image{
        width: 100%;
        height: auto;
    }

    #about .row {
        flex-direction: column;
    }

    #about{
        margin: 0;
    }


    .content{
        padding-left: 0;
        margin-top: 90px;
    }

    #introduction{
        margin-top: 60px;

    }

}
@media screen and (max-width: 920px) {

    .pic {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .pic .main-image {
        max-width: 100%;
        max-height: 100%;
    }

    .pic .extra-image{
        width: 100%;
        height: auto;
    }

    #about .row {
        flex-direction: column;
    }

    .content {
        font-size: 10px;
        padding: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
